<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Project</title>
<link rel="stylesheet" type="text/css" href="../css/createPage.css">
</head>
<body>
    
    <header>
        <img id="logo" src="../images/lightbulb.png" alt="log">
        <p id="name"> Project Lumen</p>
        <!--<div id="selections">-->
            <!--<img src="images/search-icon.png" alt="Mountains" class="topR" >-->
            <!--<img src="images/notif.png" alt="Notification" class="topR">-->
            <!--<img src="images/profile.png" alt="User Profile" class="topR">-->
        <!--</div>-->
        </header>
       <div>
        <img src="../images/top.png" alt="Mountains" class="topR" >
       </div>
   <div id="myMain">
       <h2>Project 101</h2>
        <table class="center">
                <tr>
                </tr>
                <tr>
                    <td>Project Name: </td>
                  <td>Project 101</td>
                  <td style="width:20%;"></td>
                  <td>Project Description</td>
                </tr>
                <tr>
                  <td>Project Type: </td>
                  <td>Solar Panel</td>
              <td style="width:20%;"></td>
              <td rowspan="6"><textarea rows="6" cols="40">This project has been planned for so long. No extra issues, hopefully be approved on December. </textarea></td>
                  
                </tr>
                <tr>
                  <td>Methodology: </td>
                  <td>Solar Panel Methodolgy</td>
                  <td style="width:20%;"></td>
                </tr>
                <tr>
                 <td>Host Country: </td>
                  <td>Africa</td>
                  <td style="width:20%;"></td>
                </tr>
                <tr>
                  <td>Project Scale: </td>
                  <td> <input type="radio" name="gender" value="male" checked/> Small
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" name="gender" value="female"/> Large</td>
                  <td> </td>
                  <td style="width:20%;"></td>
                </tr>
                <tr>
                  <td>Deforrestation: </td><td> <input type="radio" name="gender" value="male"/> Yes
                    &nbsp;&nbsp;&nbsp;&nbsp;
                   <input type="radio" name="gender" value="female" checked/> No<br></td>
                  <td style="width:20%;"></td>
                </tr>
                <tr>
                    <td>Forms: </td>
                     <td><select name="cars">
                   <option value="volvo">CDM-ACAI-FORM</option>
                   <option value="saab">Form 1</option>
                   <option value="saab">Form 2</option>
                 </select></td>
                     <td style="width:20%;"></td>
                   </tr>
              </table>
              <br><br><br><br>
</div>

<footer>
        <a class="foot" href="">Email </a>
        <a class="foot" href="">Feedback </a>
        <a class="foot" href="">Contact us!</a>
</footer>
</body>
</html>